*
{
    padding: 0;
    margin: 0;
}
body
{
    background: linear-gradient(90deg ,rgb(179, 31, 238) ,rgb(234, 0, 255));
    transition: .5s;
    font-family: 'Rubik', sans-serif;
    direction: rtl;
}
.box
{
    font-family: 'Lacquer', sans-serif;
    width: 70%;
    height: 530px;
    border-radius: 15px;
    background: rgba(162, 49, 214, 0.616);
    box-shadow: 0 10px 20px -10px black;
    border: none;
    transition: .5s;
    text-align: center;
    overflow: hidden;
    margin-top: 3%;
    margin-right: 15%;
}
.n404
{
    background: linear-gradient(-2000deg, rgba(0, 0, 0, 0.164) ,rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
}
.n404 p
{
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 220px;
}
.box2
{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background: 100deg ,rgba(245, 37, 217, 0.308) ,rgb(153, 0, 255);
    box-shadow: 0 10px 15px -10px black;
    border: none;
}
.box2 p
{
    font-size: 40px;
    font-family: tahoma;
    color: rgb(247, 217, 255);
}
.m
{
    width: 100%;
    height: 200px;
    background: rgba(162, 49, 214, 0.616);
    border-radius: 15px;
    margin-top: 9px;
}
.m p
{
    color: rgb(179, 214, 255);
    font-size: 20px;
    font-family: tahoma;
}
.m a
{
    text-decoration: none;
    transition: .5s;
    font-size: 20px;
    font-family: tahoma;
}
.home
{
    border: 1px solid rgb(234, 0, 255);
    color: rgb(247, 217, 255);
    transition: .3s;
    border-radius: 10px;
    padding: 5px 15px;
    background: rgb(234, 0, 255);
}
.home:hover
{
    color: white;
    background: rgb(234, 0, 255);
    padding: 8px 20px;
    box-shadow: 0 10px 20px -10px black;
}
.back
{
    border: 1px solid rgb(234, 0, 255);
    color: rgb(247, 217, 255);
    transition: .3s;
    border-radius: 10px;
    padding: 5px 15px;
    color: rgb(246, 165, 253);
}
.back:hover
{
    color: white;
    background: rgb(234, 0, 255);
    padding: 8px 20px;
    box-shadow: 0 10px 20px -10px black;
}